body {
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  background-color: #ffffff; /* page background */
}

input {
  font-size: 30px;
  padding: 10px;
  width: 250px;
}

button {
  font-size: 30px;
  padding: 10px 40px;
}
